
@model SchoolManagement.Models.SubjectPerformanceViewModel
@*@using CaptchaMvc.HtmlHelpers*@
@{ ViewBag.Title = "Exam Analysis";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml"; }

<div class="row" style="padding-top:2%">
    @*<div class="col-sm-1 text-right" style=" width: 12%">
            @Html.LabelFor(model => model.ExamTypeID, htmlAttributes: new { @class = "control-label" })
        </div>*@
    <div class="col-lg-6">&nbsp;</div>
    <div class="col-sm-2 text-left">
        @Html.DropDownListFor(model => model.ExamTypeID, new SelectList(Model.ListofExamType, "Value", "Text"), "Select Exam", new { id = "ddlExamType", @class = "form-control" })
    </div>
    @*<div class="col-sm-1 text-right">
        @Html.LabelFor(model => model.ClassID, htmlAttributes: new { @class = "control-label" })
    </div>*@
    <div class="col-sm-2 text-left">
        @Html.DropDownListFor(model => model.ClassID, new SelectList(Model.ListofClass, "Value", "Text"), "Select Class", new { id = "ddlClass", @class = "form-control" })
    </div>
    @*<div class="col-lg-1 text-right">
        @Html.LabelFor(model => model.SubjectID, htmlAttributes: new { @class = "control-label" })
    </div>*@
    <div class="col-lg-2 text-left">
        @Html.DropDownListFor(model => model.SubjectID, new SelectList(Model.ListofSubjects, "Value", "Text"), "Select Subject", new { id = "ddlSubject", @class = "form-control" })
    </div>
    @*<div class="col-lg-2 text-center">
        <input type="button" id="btnSearch" value="Search" class="btn btn-secondary" style="padding-top:2%;" />
    </div>*@
</div>

    <div class="row">
        <div class="col-sm-6">
            <div style="padding-left:10%"><b>Overall Grade Analysis</b></div>
            <div id='divchartOverallAnalysis'> </div>

        </div>
        <div class="col-sm-6">
            <div id='divWinner'>
            </div>
        </div>
    </div>

    <div class="row" id="divClassAndSubject">
        <div class="col-sm-7">
            <div id='divClassWiseChart'>
            </div>
        </div>
        <div class="col-sm-5">
            <div id='divSubjectWiseChart'>
            </div>
        </div>
    </div>
    <div class="row" id="divUndeclaredSubjects">
    </div>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">
        google.charts.load('current', { packages: ['corechart', "table"]  });
    google.setOnLoadCallback(LoadChartData);


    var chart;
    var options;
    var data;

    function LoadChartData() {
        var url = '@Url.Content("~/")' + "SubjectPerformances/GetMarksAnalysisForAdminForGraph";
        var examTypeID = 0;
        var classID = 0;
        var SubjectID = 0;
        if ($("#ddlExamType").val() != '')
            examTypeID = $("#ddlExamType").val();
        if ($("#ddlClass").val() != '') {
            $('#divClassWiseChart').hide();
            $('#divUndeclaredSubjects').hide();
            classID = $("#ddlClass").val();
        }
        if ($("#ddlSubject").val() != '')
            SubjectID = $("#ddlSubject").val();
        $.ajax({
            type: "POST",
            url: url,
            data: '{ ExamTypeID: "' + examTypeID + '", ClassID: "' + classID + '",SubjectID: "' + SubjectID + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response)
            {
                if (response.responseText == "Success") {

                    if (response.DataArrayOverAllGrade.length > -1) {
                        var chartsdata = response.DataArrayOverAllGrade;
                        var dataOverallAnalysis = [];
                        var data = [];
                        var Header = ['Element', 'NumberOfStudent'];
                        dataOverallAnalysis.push(Header);
                        data.push(Header);
                        for (var i = 0; i < chartsdata.length; i++) {
                            var temp = [];
                            var tempOverallAnalysis = [];
                            temp.push(chartsdata[i].Grade + ' (' + chartsdata[i].Tooltip+')');
                            temp.push(chartsdata[i].NumberOfStudent);
                            data.push(temp);
                            tempOverallAnalysis.push(chartsdata[i].Grade);
                            tempOverallAnalysis.push(chartsdata[i].NumberOfStudent);
                            dataOverallAnalysis.push(tempOverallAnalysis);
                        }
                        var chartdata = new google.visualization.arrayToDataTable(data);

                        options = {
                            title: '',
                            is3D: true,
                        };

                        var chartOverallAnalysis = new google.visualization.PieChart(document.getElementById('divchartOverallAnalysis'));
                        chartOverallAnalysis.draw(chartdata, options);

                        google.visualization.events.addListener(chartOverallAnalysis, 'select', selectHandler);
                        function selectHandler() {

                            var selectedItem = chartOverallAnalysis.getSelection()[0];
                            var selectedValue = dataOverallAnalysis[selectedItem.row + 1];
                            console.log('My Test ' + selectedValue[0]);
                            if (classID > 0) {
                                var urlGetGradeWiseStudent = '@Url.Content("~/")' + "SubjectPerformances/GetGradeWiseStudentList";
                                $.ajax({
                                    type: "POST",
                                    url: urlGetGradeWiseStudent,
                                    data: '{ ExamTypeID: "' + examTypeID + '", ClassID: "' + classID + '",SubjectID: "' + SubjectID + '",Grade: "' + selectedValue[0] + '"}',
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    success: function (response) {
                                        if (response.responseText == "Success") {
                                            if (response.DataArrayGradeWiseStudentList.length > 0) {
                                                var tableChartData = response.DataArrayGradeWiseStudentList;
                                                $('#divchartOerallSubjectAnalysis').show();
                                                var dataStudentTable = [];
                                                var Header = ['StudentName', 'RollNumber', 'TotalMarks', 'MarksAcquired', 'Percentage','Grade'];
                                                dataStudentTable.push(Header);
                                                for (var i = 0; i < tableChartData.length; i++) {
                                                    var temp = [];
                                                    temp.push(tableChartData[i].StudentName);
                                                    temp.push(tableChartData[i].RollNumber);
                                                    temp.push(tableChartData[i].TotalMarks);
                                                    temp.push(tableChartData[i].MarksAcquired);
                                                    temp.push(tableChartData[i].Percentage);
                                                    temp.push(tableChartData[i].Grade);
                                                    dataStudentTable.push(temp);
                                                }
                                                var chartStudentTable = new google.visualization.arrayToDataTable(dataStudentTable);
                                                var table = new google.visualization.Table(document.getElementById('divClassWiseChart'));
                                                table.draw(chartStudentTable, { showRowNumber: true, width: '100%', height: '100%' });
                                                $('#divClassWiseChart').show();
                                                $("#divClassWiseChart").css("padding-top", "6%");
                                            }
                                        }
                                    },
                                    failure: function (response) {
                                        alert(response.responseText);
                                    },
                                    error: function (response) {
                                        alert(response.responseText);
                                    }
                                });
                            }
                        }
                    }

                    if (response.DataArrayWinners.length > -1) {
                        if (response.DataArrayWinners.length < 4) {
                            var s = ' <div class="row" style="padding-top: 9%">';
                            for (var i = 0; i < response.DataArrayWinners.length; i++) {
                                s += '<div class="col-sm-4"><div style="border-color: #4a61d3;border-style: outset;border-radius: 7px; background-color: #e5edf7;padding-left: 5%;padding-right: 5%;text-align: center;"><div style="padding-top: 9%; font-size: larger;" ><b> ' + response.DataArrayWinners[i].StudentName + '</b></div>';
                                s += '<div style="font-size: xx-large;">' + response.DataArrayWinners[i].StudentRank + '</div>';
                                s += '<div style="padding-top: 6 %; font-size: larger;" > Roll No : ' + response.DataArrayWinners[i].RollNo + '</div>';
                                if (classID == 0)
                                    s += '<div style="padding-top: 6 %; font-size: larger;" ><b> ' + response.DataArrayWinners[i].ClassName + '</b></div>';
                                s += '</div></div>';
                            }
                            s += '</div>';
                            $('#divWinner').html(s);
                        }
                        else {
                            var s = ' <div class="row" style="padding-top: 6%">';
                            s += '<div class="col-sm-10" style="height: 152px; overflow-y: auto;"><table id="tbl_winner" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">';
                            s += '<thead><th>Student Name</th>';
                            if (classID == 0)
                                s += '<th>Class Name</th>';
                            s += '<th>Roll No</th>';
                            s += '<th>Rank</th></tr></thead><tbody>';
                            for (var i = 0; i < response.DataArrayWinners.length; i++) {
                                s += '<tr>';
                                s += '<td>' + response.DataArrayWinners[i].StudentName + '</td>'
                                if (classID == 0)
                                    s += '<td>' + response.DataArrayWinners[i].ClassName + '</td>'
                                s += '<td>' + response.DataArrayWinners[i].RollNo + '</td>'
                                s += '<td>' + response.DataArrayWinners[i].StudentRank + '</td>'
                                s += '</tr>'
                                // s += '<option value="' + data.SubjectList[i].Value + '">' + data.SubjectList[i].Text + '</div>';
                            }
                            s += '</tbody></table></div></div>';
                            $('#divWinner').html(s);
                        }
                    }
                    if (response.DataArrayClassWise.length > -1 && classID == 0) {
                        var chartsdata = response.DataArrayClassWise;
                        var data = [];
                        var Header = ['Element', 'Percentage'];
                        data.push(Header);
                        for (var i = 0; i < chartsdata.length; i++) {
                            var temp = [];
                            temp.push(chartsdata[i].ClassName);
                            temp.push(chartsdata[i].Percentage);
                            data.push(temp);
                        }
                        var chartdata = new google.visualization.arrayToDataTable(data);
                        options = {
                            // width: 100%,
                            height: 300,
                            title: 'Overall Class Wise Analysis',
                            hAxis: {
                                title: 'Class',
                                gridlines: { count: 10 }
                            },
                            vAxis: {
                                title: 'Percentage'
                            }
                        };

                        var chartContainer = document.getElementById("divClassWiseChart");
                        var chart = new google.visualization.ColumnChart(chartContainer);
                        chart.draw(chartdata, options);
                        $('#divClassWiseChart').show();
                        $("#divClassWiseChart").css("padding-top", "0%");
                    }
                    if (response.DataArraySubjectWise.length > 0) {
                        var chartsdata = response.DataArraySubjectWise;
                        var data = [];
                        var Header = ['Element', 'Percentage'];
                        data.push(Header);
                        for (var i = 0; i < chartsdata.length; i++) {
                            var temp = [];
                            temp.push(chartsdata[i].SubjectName);
                            temp.push(chartsdata[i].Percentage);
                            data.push(temp);
                        }
                        var chartdata = new google.visualization.arrayToDataTable(data);
                        options = {
                            // width: 100%,
                            height: 300,
                            title: 'Overall Subject Wise Analysis',
                            hAxis: {
                                title: 'Subject',
                                gridlines: { count: 10 }
                            },
                            vAxis: {
                                title: 'Percentage'
                            }
                        };

                        var chartContainer = document.getElementById("divSubjectWiseChart");
                        var chart = new google.visualization.ColumnChart(chartContainer);
                        chart.draw(chartdata, options);
                        $('#divSubjectWiseChart').show();
                    }
                    else
                        $('#divSubjectWiseChart').hide();
                    if (response.DataArrayUndeclaredSubjects.length > -1 && classID == 0) {
                        var s = ' <div class="row" style="padding-top: 6%">';
                        s += '<div class="col-sm-2">&nbsp;</div><div class="col-sm-8"><table id="tbl_winner" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">';
                        s += '<thead><th>Class Name</th>';
                        s += '<th>Subject Name</th></tr></thead><tbody>';
                        for (var i = 0; i < response.DataArrayUndeclaredSubjects.length; i++) {
                            s += '<tr>';
                            s += '<td>' + response.DataArrayUndeclaredSubjects[i].ClassName + '</td>'
                            s += '<td>' + response.DataArrayUndeclaredSubjects[i].SubjectName + '</td>'
                            s += '</tr>'
                            // s += '<option value="' + data.SubjectList[i].Value + '">' + data.SubjectList[i].Text + '</div>';
                        }
                        s += '</tbody></table></div><div class="col-sm-2">&nbsp;</div></div>';
                        $('#divUndeclaredSubjects').html(s);
                        $('#divUndeclaredSubjects').show();
                    }
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
}
    </script>

    
    <script>
        $(document).ready(function () {

            


            $("#ddlExamType").on("change", function () {
                LoadChartData();
            });
            $("#ddlSubject").on("change", function () {
                LoadChartData();
            });
            $("#ddlClass").on("change", function () {
                var clsID = $("#ddlClass").val();
                if (clsID == "") {
                    clsID = 0;
                }
                var url = '@Url.Content("~/")' + "SubjectPerformances/GetClassBasedSubjects";
                $.ajax({
                    type: "POST",
                    url: url,
                    data: JSON.stringify({ ClassID: clsID }),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function (data) {
                        var s = '<option value=""> Select</option>';
                        for (var i = 0; i < data.SubjectList.length; i++) {
                            s += '<option value="' + data.SubjectList[i].Value + '">' + data.SubjectList[i].Text + '</option>';
                        }
                        $("#ddlSubject").html(s);
                        LoadChartData();
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
     </script>
<style>
    #tbl_winner tbody {
        height: 100px;
        overflow: auto;
    }
</style>
